body {
    margin: 0;
    color: #000000;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Lato', sans-serif;
    padding: 0;
    width: 1000px;
    display: flex;
}
.container {
    width: 400px;
    text-align: center;
    margin-left: auto;
    
}
h1 {
    color: rgb(8, 42, 116);
}
h3 {
    color: rgb(214, 16, 16)
}